@tailwind base;
@tailwind components;
@tailwind utilities;



/* Global */

body {
    font-family: var(--lato-font);
    font-weight: 400;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

.container-fluid {
    max-width: 100%;
}


/* Burguer animation */
.burger {
    height: 3em;
    width: 3em;
    position: relative;
    font-size: 8px;
    cursor: pointer;
    transition: 0.2s all;
    -webkit-tap-highlight-color: transparent;
}
.burger .burger-lines:after {
    top: -1em;
}
.burger .burger-lines:before {
    top: 1em;
}
.burger:after {
    content: '';
    display: block;
    position: absolute;
    height: 150%;
    width: 150%;
    top: -25%;
    left: -25%;
}
.burger .burger-lines {
    top: 50%;
    margin-top: -0.125em;
}
.burger .burger-lines, .burger .burger-lines:after, .burger .burger-lines:before {
    pointer-events: none;
    display: block;
    content: '';
    width: 100%;
    border-radius: 0.25em;
    background-color: white;
    height: 0.25em;
    position: absolute;
    transform: rotate(0);
}


.burger.burger-rotate .burger-lines, .burger.burger-rotate .burger-lines:after, .burger.burger-rotate .burger-lines:before {
    transition: all 0.2s;
}
.burger.burger-rotate.open {
    transform: rotate(180deg);
}
.burger.burger-rotate.open .burger-lines {
    background-color: transparent;
}
.burger.burger-rotate.open .burger-lines:before, .burger.burger-rotate.open .burger-lines:after {
    left: 0;
    top: 0px;
}
.burger.burger-rotate.open .burger-lines:before {
    transform: rotate(135deg);
}
.burger.burger-rotate.open .burger-lines:after {
    transform: rotate(-135deg);
}


/* Heart animation */

.like {
    width: 500px;
    height: 500px;
    transform: scale(0);
    transition: transform 800ms ease-in-out;
}

.unlike {
    width: 0;
    transform: scale(3);

}


/* Animate css */
:root {
    --animate-duration: 200ms;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

.animate_animated {
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}

.animate_fadeInUp {
-webkit-animation-name: fadeInUp;
animation-name: fadeInUp;
}

@keyframes fadeOutDown {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
}

.animate_fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}


/* Toggle */

input[type="checkbox"]:checked + label {
	background-color: #959492;
    transition: all 300ms ease-in-out;

}

input[type="checkbox"] + label {
    background-color: white;
    transition: all 300ms ease-in-out;

}

input[type="checkbox"]:checked + label span {
    margin-left: 14px;
	background-color: white;
    transition: all 300ms ease-in-out;
}

input[type="checkbox"] + label span {
    margin-left: 0;
	background-color: #959492;
    transition: all 300ms ease-in-out;
}